/* conent one */

.content-block-one > h1 {
  font-family: Quicksand-Light;
  color: white;
  letter-spacing: 3px;
  font-weight: 100;
  margin: 45px;
  height: 95px;
  text-align: center;
}

.terminal {
  background-color: rgba(0, 0, 0, 0.726);
  height: 300px;
  margin: 0 30% 0 30%;
}

.header-terminal {
  padding: 0px;
}

.icon-terminal {
  margin-right: 5px;
}

.way > h1 {
  font-family: Consolas, monaco, monospace !important;
  font-size: 1em;
  color: white;
}

.panel-icon {
  color: white;
  text-align: right;
  margin-right: 2px;
  margin-top: -2px;
}

.body-terminal > h1 {
  color: white;
  font-family: Consolas, monaco, monospace !important;
  font-size: 1em;
  margin-left: 5px;
}

.not-visiable {
  display: none;
}

.visiable {
  display: inline;
  margin-left: 15px;
}

/* animation */

.one {
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 2s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.4s; /* Задержка перед началом */
}

.two {
  opacity: 0;
  transition: 1s;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
  margin-left: 15px;
}

.three {
  opacity: 0;
  transition: 1.5s;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  margin-left: 15px;
}

.four {
  opacity: 0;
  transition: 1.5s;
  animation: show 2s 1;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  margin-left: 15px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim-out {
  opacity: 1;
  transition: 1s;
  animation: hidden 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* conent two */

.contnet-two-body {
  min-height: 75vh;
}

.contnet-two-body > h1 {
  color: white;
  font-family: Quicksand-Light;
  text-align: center;
  margin-left: 50px;
  margin-top: 70px;
}

.contnet-two-body > p {
  color: white;
  font-family: Quicksand-Light;
  font-size: 1.4em;
  text-align: center;
  margin-left: 50px;
}

.contnet-two-body-img {
  margin-top: 90px;
  width: 70%;
}

.img-mac {
  width: 90%;
  margin-left: 15px;
  -webkit-filter: drop-shadow(-5px -3px 10px #000);
  filter: drop-shadow(-5px -3px 10px #000);
}

/* content three*/

.slider {
  margin-top: 40px;
  text-align: center;
}

.sample-project {
  margin-top: 40px;
}

.sample-project > h1 {
  color: white;
  font-family: Quicksand-Light;
  font-weight: 500;
  text-align: center;
}

.arrow-before {
  color: white;
}

.arrow-next {
  color: white;
}

.project-name {
  color: white;
  font-family: Quicksand-Light;
}

.project-name > h1 {
  font-size: 2em;
}

.description {
  text-align: center;
  margin-top: 35px;
}

.description > p {
  color: white;
  font-family: Quicksand-Light;
  font-size: 1.5em;
  height: 80px;
}

.slider-icons {
  color: rgba(255, 255, 255, 0.432);
  text-align: center;
  margin-top: 85px;
}

.slider-icon {
  margin: 45px;
}

.active-icon {
  color: white;
}

.img-project {
  text-align: center;
  margin-top: 40px;
}

.img-project > img {
  width: 70%;
  border-radius: 3px;
  box-shadow: -5px -5px 12px rgba(27, 27, 27, 0.596);
  opacity: 1;
}

.description-img {
  margin-top: 30px !important;
}

.description-img > h2 {
  color: rgb(0, 0, 0);
  font-family: Quicksand-Bold;
}

/*content four*/

.send-request {
  text-align: center;
  margin-top: 20px;
}

.send-request > h1 {
  font-family: Quicksand-Light;
  color: white;
  width: 50%;
  margin-left: 25%;
}

.title-send {
  padding: 10px;
  width: 45%;
  background-color: rgba(218, 218, 218, 0.705);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-family: Quicksand-Light;
  color: black;
  font-size: 1.2em;
  margin-top: 20px;
}

.title-body {
  padding: 10px;
  margin-top: 20px;
  width: 45%;
  background-color: rgba(218, 218, 218, 0.705);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-family: Quicksand-Light;
  color: black;
  font-size: 1.2em;
  resize: none;
  height: 200px;
}

.button-send {
  width: 45%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgba(29, 29, 29, 0.815);
  color: white;
  font-family: Quicksand-Light;
  font-size: 1.2em;
  border: 1px solid rgba(124, 124, 124, 0.877);
}

/* screen */

@media screen and (max-width: 900px) {
  .content-block-one > h1 {
    margin-top: 20px;
    height: 120px;
  }
}

.hidden-description {
  position: absolute;
  opacity: 0;
  bottom: 0;
  margin-bottom: 15%;
}

.img-project > img {
  opacity: 0;
  position: absolute;
  left: 0;
  margin-left: 15%;
}

.active-description-right {
  opacity: 0;
  transition: 0.4s;
  animation: fadeRight 0.7s 1;
  animation-fill-mode: forwards;
}

.active-description-left {
  opacity: 0;
  transition: 0.4s;
  animation: fadeLeft 0.7s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


.progress {
  height: 3px;
  width: 80%;
  background-color: rgba(90, 90, 90, 0.5);
  position: relative;
  margin: auto;
}
.progress div {
  animation-name: anim;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  height: 100%;
  margin: 0;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
}

@keyframes anim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}