.left-block-header {
  padding: 2%;
  margin-left: 2%;
  font-size: calc(7px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
}

.logo-header {
  display: inline-block;
  font-family: Quicksand-Light;
  color: white;
  font-size: calc(7px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
}

.split {
  margin-left: 10px;
  font-weight: 0;
  vertical-align: 3px !important;
  color: rgb(139, 139, 139);
  font-size: calc(7px + (2 + 2 * 0.7) * ((100vw - 320px) / 1280));
}

.mail-header-block {
  display: inline-block;
}

.mail-header {
  margin-left: 10px;
  color: rgb(139, 139, 139);
}

.mail-icon-header {
  margin-right: 5px;
  height: 15px !important;
  vertical-align: -2px;
  font-size: calc(7px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
}

.name-mail {
  vertical-align: 2px;
  font-weight: 600;
}

.contact-block {
  padding: 1%;
  text-align: right;
  padding-right: 50px;
}

.button-right-block-header {
  display: inline-block;
  margin-right: 3px;
}

@media screen and (max-width:600px){
  .logo-header{
    vertical-align: 0.2em !important;
  }
  .contact-block{
    padding: 1%;
    padding-right: 1%;
    color: black
  }
}

@media screen and (max-width: 770px) {
  .button-right-block-header{
    color: rgb(167, 164, 164);
  }
}
