.footer {
  margin-top: 55px;
}

.footer-menu > li {
  display: inline;
  margin-right: 25px;
  font-family: Quicksand-Light;
  color: white;
}

.call-icon {
  vertical-align: -4px;
}

.dot>li{
  display: inline;
  margin-right: 20%;
  color: rgb(68,68,68)
}

.number:hover ~ .inf-footer {
  opacity: 1; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: disableInf 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  animation-delay: 0.1s; /* Задержка перед началом */
}

@keyframes disableInf{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.number:hover ~ .number-not-visiable {
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: showNumber 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards;
  animation-delay: 1s; /* Задержка перед началом */
}

@keyframes showNumber{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.number-not-visiable {
  position: fixed;
  opacity: 0;
}

.copy{
  position: fixed;
  opacity: 0;
}








