.footer {
  margin-top: 55px;
}

.footer-menu > li {
  display: inline;
  margin-right: 25px;
  font-family: Quicksand-Light;
  color: white;
}

.call-icon {
  vertical-align: -4px;
}

.dot > li {
  display: inline;
  margin-right: 20%;
  color: rgb(68, 68, 68);
}

.number:hover ~ .inf-footer {
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition-delay: 0s;
}

.inf-footer {
  opacity: 1;
  transition: opacity .5s linear;
  transition-delay: .5s;
}

.number:hover ~ .number-not-visiable {
  opacity: 1;
  transition-delay: .5s;
}

.number-not-visiable {
  position: fixed;
  opacity: 0;
  transition: opacity .5s linear;
}

.active {
  color: rgb(255, 255, 255) !important;
  border: 1px solid white !important;
  border-radius: 100% !important;
}

.select-dot:hover{
  border: 1px solid rgb(68, 68, 68);
  border-radius: 100%;
  cursor: none;
}

.active:hover{
  cursor: none;
}

.active:hover + .cursor {
  display: none !important; 
}



