html {
  height: 100%;
}

body {
  cursor: url("./cursor/curs.cur"), auto;
  background: linear-gradient(130deg, black, white);
  overflow: hidden;
}

@font-face {
  font-family: Quicksand-Light; /* Имя шрифта */
  src: url(../src/fonts/Quicksand-Light.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Quicksand-Bold;
  src: url(../src/fonts//Quicksand-LightItalic.otf);
}

@media screen and (max-width: 770px) {
  html {
    background: linear-gradient(110deg, black, white) no-repeat fixed !important;
    background-size: cover !important;
    height: calc(100% + 60px) !important;
    min-height: calc(100% + 60px) !important;
    overflow-y: visible;
    overflow-x: hidden !important;
  }
  body {
    background: linear-gradient(110deg, black, white) no-repeat fixed !important;
    background-size: cover;
    overflow-y: visible;
    overflow-x: hidden;
 
  }
}

@media only screen and (max-device-width: 770px) {
  html {
    height: calc(100% + 60px);
    min-height: calc(100% + 60px);
    background:black !important ;
  }
}